.input_wrapper {
  border: 2px solid black;
  width: 375px;
}

input {
  font-size: 1.5rem;
  border: none;
  text-align: right;
  border-radius: 5px;
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  width: 80%;
  padding: 0.5rem;
}

.custom_tip {
  font-size: 1.5rem;
  text-align: right;
  padding-right: 10px;
  background-color: hsl(189, 41%, 97%);
  color: hsl(186, 14%, 43%);
  border: none;
  border-radius: 5px;
  width: 138px;
  height: 47px;
}

span.header_tag {
  color: hsl(186, 14%, 43%);
}

.buttons_wrapper {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}
