.tip_selector {
  display: flex;
  flex-direction: column;
}

.bill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.select_tip {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.people {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text_wrapper_people {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;

  span {
    margin: 0.5rem 0 0.5rem 0;
  }

  .err_msg {
    padding-right: 1rem;
  }
}

.header_tag {
  padding-left: 0.75rem;
  margin: 0.5rem 0 0.5rem 0;
  align-self: flex-start;
  color: hsl(186, 14%, 43%);
}

.buttons_wrapper {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.input_icon {
  height: 15px;
  position: relative;
  right: -30px;
}

.custom_tip {
  font: normal 700 1.5rem "Space Mono", monospace;
  text-align: right;
  padding-right: 10px;
  background-color: hsl(189, 41%, 97%);
  color: hsl(186, 14%, 43%);
  border: none;
  border-radius: 5px;
  width: 108px;
  height: 38px;
}

.custom_tip:focus {
  outline-color: hsl(172, 67%, 45%);
}

@media screen and (min-width: 1024px) {
  .tip_selector {
    width: 425px;
    gap: 1rem;
  }

  .input_wrapper {
    width: 100%;
  }
}
