body {
  font: normal 700 1rem "Space Mono", monospace;
  margin: 0;
  padding: 0;
  background-color: hsl(185, 41%, 84%);
}

button {
  font: normal 700 1.5rem "Space Mono", monospace;
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  margin-top: 15rem;
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  padding: 1rem;
  border-radius: 20px;
}

.attribution {
  margin: 3rem 0 0.5rem 0;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1024px) {
  .content-wrapper {
    margin: 0;
    width: fit-content;
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    background-color: hsl(0, 0%, 100%);
    padding: 2rem;
    border-radius: 20px;
  }
  .wrapper {
    height: 100vh;
    width: 100vw;
  }
}
