.user_input {
  font-size: 1.5rem;
  border: none;
  text-align: right;
  border-radius: 5px;
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  width: 80%;
  padding: 0.5rem;
}

.user_input:focus {
  outline: none;
}
