.user_input {
  font: normal 700 1.5rem "Space Mono", monospace;
  border: none;
  text-align: right;
  border-radius: 5px;
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  padding: 0.5rem;
  width: 85%;
  margin-left: 0.25rem;
}

.user_input.error {
  border: 1px solid hsl(9, 32%, 58%);
}

.user_input:focus {
  outline-color: hsl(172, 67%, 45%);
}

@media screen and (min-width: 1024px) {
  .user_input {
    width: 90%;
    margin-left: 0;
  }
}
